<div class="top-row navbar navbar-dark ps-1">
    <div class="container-fluid">
        <a class="navbar-brand">Biblioteca Carvalho Pereira</a>
    </div>
</div>

<div class="nav-scrollable">
    <nav class="flex-column nav">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/novo-livro" Match="NavLinkMatch.All">
                Novo Livro
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/">
                Catálogo
            </NavLink>
        </div>
    </nav>
</div>

